.btn-expand{
  font-size: 25px;
  color: var(--invertColorWhite);
  transition: 0.4s ease-in-out;
}
.btn-expand:hover{
scale: 1.1;
}

.btn-expand-position{
  position: absolute;
  top: 10px;
  right: 20px;

}