

.explanation-box {
  margin-top: 0.5vh;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--black);
  position: relative;
  transition: width 0.6s ease-in-out, all 0.3s ease-in-out; 
}

#expl-section1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  background: radial-gradient(circle at 20% 0%, #ffffff41, #e2e2e248, #c6c6c646, #aaaaaa49, #8f8f8f30, #76767617, #7f7f7f1e, #45454513); 
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 1px 10px var(--light-white);
}
#expl-section1:hover{
  scale:1.1;
  z-index: 800;
}

#expl-section3 {
  display: flex;
  text-align: center;
  justify-content: right;
  gap: calc(10px + 0.3vw);
  width: 80%;
  margin:  auto;
  font-size: calc(12px + 1vw);
  padding-top: 10px;
}

.explanation-title {
  padding-bottom:  10px;
  font-size: calc(12px + 0.3vw);
  max-width: 300px;
  font-weight: 700;
  cursor: pointer;
  text-shadow: 1px 1px var(--bambam);
}

.explanation-text {
  font-size: calc(12px + 0.1vw);
  height: 150px;
  overflow: scroll;
  width: 100%;
  text-align: justify;
  text-indent: 10px;
  padding: 10px;
  transition: 0.3s ease-in-out;
  text-shadow: 1px 1px var(--bambam);

}
.explanation-text span{
  display: block;
}
.explanation-text p{
  margin: 0px ;
}
.extra-icons {
  position: relative;
  font-size: calc(20px + 1vw);
  border: none;
  background-color: transparent;
  color: var(--light-grey);
  cursor: pointer;
  margin-left: 10px;
}

.extra-icons::after {
  content: attr(data-icon);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: rgba(255, 255, 255, 0.2);
  font-size: calc(20px + 1vw);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform 0.3s ease, color 0.3s ease;
  transform-origin: 100% 100%;
}

.extra-icons:hover::after {
  z-index: -1;
  transform:translateY(15px);
  color: rgb(235, 31, 31);
}

/* Colores específicos para cada ícono */
.fa-utensils::after {
  content: "\f2e7";
  color: var(--grey);
}

.fa-utensils:hover::after {
  color: var(--red);

}

.fa-video::after {
  content: "\f03d";
  color: var(--grey);

}

.fa-video:hover::after {
  color: var(--green);

}

.fa-baseball::after {
  content: "\f433";
  color: var(--grey);

}

.fa-baseball:hover::after {
  color: var(--blue);

}

.fa-shuffle::after {
  content: "\f074";
  color: var(--grey);

}

.fa-shuffle:hover::after {
  color: var(--orange);

}
.fa-folder::after {
  content: "\f07b";
  color: var(--blue);
}

.fa-folder:hover::after {
  color: var(--dark-blue);

}

.fa-folder-open::after {
  content: "\f07c";
  color: var(--navbar-blue);
}

.fa-folder-open:hover::after {
  color: var(--blue);
}
.fa-book::after {
  content: "\f02d";
  color: var(--brown);
}

.fa-book:hover::after {
  color: var(--dark-brown);

}

.fa-book-open::after {
  content: "\f518";
  color: var(--navbar-brown);
}

.fa-book-open:hover::after {
  color: var(--brown);
}

.fa-address-book::after {
  content: "\f2b9";
  color: var(--navbar-green);
}

.fa-address-book:hover::after {
  color: var(--green);
}
.fa-calendar::after {
  content: "\f133";
  color: var(--navbar-yellow);
}

.fa-calendar:hover::after {
  color: var(--green);
}

/* Ajustes para dispositivos pequeños */
@media only screen and (max-width: 600px) {
  #expl-section1 {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .explanation-text {
    max-height: 40vh;
  }
}
