.btnNavSlider {
  position: relative;
  background: var(--light-black);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: calc(10px + 0.2vw);
  padding: 10px 13px;
  transition: 0.2s;
  border-radius: 10px;

}

.btnNavSlider:hover {
  color: var(--clr);
  animation: box 3s infinite;
  background-color: var(--light-blue);
}

.btnNavSlider:hover i {
  color: var(--grey); 
}

.btnNavSlider::before {
  content: "";
  position: absolute;
  inset: 2px;
  backdrop-filter: grayscale(10px);
}

.btnNavSlider span {
  position: relative;
  z-index: 1;
}

.btnNavSlider .i-slider {
  position: absolute;
  inset: 0;
  display: block;
}

.btnNavSlider .i-slider::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: var(--white);
  transition: 0.2s;
}

.btnNavSlider:hover .i-slider::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
  background: var(--grey);

}

.btnNavSlider .i-slider::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: var(--white);
  transition: 0.2s;
}

.btnNavSlider:hover .i-slider::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
  background: var(--grey);

}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

.btnNavSlider i {
  color: var(--white);
  margin-right: 10px;
  font-size: calc(13px + 0.2vw);

}