div#carousel { 
  perspective: 1000px; 
  backdrop-filter: blur(40px);
  box-shadow: 3px 10px 40px black;
  border-radius: 30px;
  padding: 30px 0px; 
  margin: auto;
  margin-bottom: 3rem; 
  overflow: hidden; 
  width: 70vw;
  margin-left: 50%;
  transform: translate(-50%);
  display: inline-block;
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 50vh; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 400px; 
  height: 400px; 
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  z-index: 40;
}
figure#spinner img:hover {
  scale: 0.4;
 }

figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
.left-right-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70vw;
  height: 50vh;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.left-right-arrow button{
  height: 130%;
  width: 70px;
  font-size: calc(10px + 1vw);
  font-weight: 900;
  background-color: var(--dark-black);
  border: none;
  color: var(--dark-grey);
  transition: 0.4s ease-in-out;
}
.left-right-arrow button:hover{
  color: var(--white);
  font-size: calc(20px + 3vw);

}
