.cheat-sheet-box{
  border-top: 5px inset var(--red);
  border-bottom: 5px inset var(--red);
  width: 70vw;
  margin: auto;
  margin-top: 4vh;
  height: 80vh;
  
}
.cheat-sheet-content{
  border-radius: 10px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px 0px;
margin-top: 5vh;
}

.cheat-sheet-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  box-shadow: 1px 1px 5px var(--invertColorWhite);
  border-radius: 10px;
  overflow: scroll;
  transition: 0.2s ease-in-out;
  align-items: center;
  max-height: 550px;
  gap: 20px;
}
.cheat-sheet-card-texts{
  text-align: left;
  text-indent: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.cheat-sheet-card-imgs{
  background-color: var(--transImgs);
  border-radius: 10px;
  box-shadow: 1px 5px 10px var(--invertColorWhite);
  max-width: 98%;
}
.cheat-sheet-card img{
  max-width: 100%;
  border-radius: 10px;
  mix-blend-mode: multiply;
  box-shadow: 1px 5px 10px var(--black);
  margin: auto;
}
.cheat-sheet-card-imgs img:nth-child(2),
.cheat-sheet-card-imgs img:nth-child(3),
.cheat-sheet-card-imgs img:nth-child(4)
{
  margin-top: 20px;
}
.expand-icon-cheatsheet{
  position:absolute;
  margin: 1vh 0 0 10%;
  display: flex;
  justify-content: space-between;
  z-index: 40;
  width: 100px;
  gap: 20px;
}

@media (max-width: 768px) {
  .cheat-sheet-box{
    width: 92vw;
    margin-top: 2vh;
    height: 80vh;
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    border-top: 5px inset var(--red);
    border-bottom: 5px inset var(--red);

  }
  .cheat-sheet-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    box-shadow: 1px 1px 5px var(--invertColorWhite);
    border-radius: 10px;
    overflow: scroll;
    transition: 0.2s ease-in-out;
    align-items: center;
    max-height: 550px;
    gap: 20px;
    min-width: 29vw;
  }
  .eextra-nav-icons {
    width: 92vw;
  }
}