.slide-btn-2,
.slide-btn-1{
  position: absolute;
  top: 0vh;
  z-index: 2; /*delante del slider*/
  width: 15vw;
  height: 50vh;
  border: none;
  background-color: var(--light-black);
  opacity: 0.12;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 3vw);
  color: var(--invertColorWhite);
}

.slide-btn-1{
  border-radius: 0px 10% 100% 0px;
  padding-left: 10px;
}
.slide-btn-2{
  right: 0px;
  border-radius:  10%  0px   0px  100% ;

}

.slide-btn-2:hover,
.slide-btn-1:hover{
  background-color: var(--light-blue);
  text-shadow: 1px 2px 6px var(--black);
  opacity: 0.5;
}
