.exercise-box{
  height: 500px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  gap: 5px;
  border: 9px outset var(--black);
  align-items: center;
  position: relative;
  backdrop-filter: grayscale(30%);


}
.exercise-box-small{
  min-width: 270px;
  transition: 0.3s ease-in-out;

}
.exercise-box-big{
  min-width: 48vw;
  transition: 0.3s ease-in-out;
}
.exercise-box-expanded{
  height: 500px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  gap: 5px;
  border: 9px outset var(--black);
  min-width: 270px;
  align-items: center;
}

.exercise-section1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--light-black);
  padding: 15px;
  border-radius: 10px;
  height: 10px;
  width: 75%;
  margin-right: 14%;
  background: linear-gradient(150deg, #f9f9f910, #d4dad630, #afbbb630, #8b9d9b30, #69808330, #49636f30, #2c475c30, #142b4e30); /* made at https://learnui.design/tools/gradient-generator.html */
}
.exercise-section4{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--light-black);
  border-top: none;
  border-left: none;
  padding: 5px;
  border-radius: 10px;
  height: 10px;
  width: 100px;
  background: linear-gradient(150deg, #f9f9f910, #d4dad630, #afbbb630, #8b9d9b30, #69808330, #49636f30, #2c475c30, #142b4e30); /* made at https://learnui.design/tools/gradient-generator.html */
}

.exercise-section2{
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ffffff;
  padding: 25px 15px; 
  border-radius: 10px;
  min-height: 120px;
  text-align: justify;
  text-indent: 10px;
  border: 2px solid var(--light-black);
  width: 89%;
  backdrop-filter: grayscale(0%);   /*Por alguna razón si quito o esto cambia la posición de section 4  */
  overflow: scroll;
  background: linear-gradient(150deg, #f9f9f910, #d4dad630, #afbbb630, #8b9d9b30, #69808330, #49636f30, #2c475c30, #142b4e30); /* made at https://learnui.design/tools/gradient-generator.html */
  
}
.exercise-section3{
  border: 1px solid white;
  padding: 25px 15px;
  padding-left: 20px;
  border-radius: 10px;
  min-height: 150px;
  text-align: justify;
  text-indent: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--light-black);
  width: 89%;
  backdrop-filter: grayscale(0%);   /*Por alguna razón si quito o esto cambia la posición de section 4  */

  overflow: scroll;
  background: linear-gradient(150deg, #f9f9f910, #d4dad630, #afbbb630, #8b9d9b30, #69808330, #49636f30, #2c475c30, #142b4e30); /* made at https://learnui.design/tools/gradient-generator.html */
}

.li-answer{
  list-style:circle;
}



@media only screen and (max-width: 600px) {
  .exercise-box-big{
    min-width: 78vw;
  }
  }

  