.btnNavNextPrevLeft {
  position: relative;
  background: var(--light-black);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: calc(10px + 0.2vw);
  padding: 10px 13px;
  transition: 0.2s;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  align-items: center;
}

.btnNavNextPrevLeft:hover {
  color: var(--clr);
  animation: box 3s infinite;
  background-color: var(--light-blue);
}

.btnNavNextPrevLeft:hover i {
  color: var(--grey); 
}

.btnNavNextPrevLeft::before {
  content: "";
  position: absolute;
  inset: 2px;
  backdrop-filter: grayscale(10px);
}

.btnNavNextPrevLeft span {
  position: relative;
  z-index: 1;
}

.btnNavNextPrevLeft .i-slider {
  position: absolute;
  inset: 0;
  display: block;
}

.btnNavNextPrevLeft .i-slider::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: var(--white);
  transition: 0.2s;
}

.btnNavNextPrevLeft:hover .i-slider::before {
  width: 15px;
  left: -10%;
  animation: move 3s infinite;
  background: var(--grey);

}

.btnNavNextPrevLeft .i-slider::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  left: 80%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: var(--white);
  transition: 0.2s;
}

.btnNavNextPrevLeft:hover .i-slider::after {
  width: 15px;
  left: -10%;
  animation: move 3s infinite;
  background: var(--grey);

}
.btnNavNextPrevLeft:hover .ch-left-slide {
  position: absolute;
    right: 40px;
    top: -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
    opacity: 0;
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;

  }
}

.btnNavNextPrevLeft i {
  color: var(--white);
  font-size: calc(13px + 0.2vw);
}



.btnNavNextPrevRight {
  position: relative;
  background: var(--light-black);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: calc(10px + 0.2vw);
  padding: 10px 13px;
  transition: 0.2s;
  border-radius: 10px;
  width: 80px;
  height: 40px;
}

.btnNavNextPrevRight:hover {
  color: var(--clr);
  animation: box 3s infinite;
  background-color: var(--light-blue);
}

.btnNavNextPrevRight:hover i {
  color: var(--grey); 
}

.btnNavNextPrevRight::before {
  content: "";
  position: absolute;
  inset: 2px;
  backdrop-filter: grayscale(10px);
}

.btnNavNextPrevRight span {
  position: relative;
  z-index: 1;
}

.btnNavNextPrevRight .i-slider {
  position: absolute;
  inset: 0;
  display: block;
}

.btnNavNextPrevRight .i-slider::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  left: 20%;
  top: -2px;
  border: 2px solid var(--clr);
  background: var(--white);
  transition: 0.2s;
}

.btnNavNextPrevRight:hover .i-slider::before {
  width: 15px;
  left: 110%;
  animation: move 3s infinite;
  background: var(--grey);

}

.btnNavNextPrevRight .i-slider::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: var(--white);
  transition: 0.2s;
}

.btnNavNextPrevRight:hover .i-slider::after {
  width: 15px;
  left: 110%;
  animation: move 3s infinite;
  background: var(--grey);

}

.btnNavNextPrevRight i {
  color: var(--white);
  font-size: calc(13px + 0.2vw);

}
.btnNavNextPrevRight:hover .ch-right-slide {
  position: absolute;
    left: 40px;
    top: -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease-in-out;
}