
.btnNavNextPrevLeft {
  position: relative;
  background: var(--light-black);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: calc(10px + 0.2vw);
  padding: 10px 13px;
  transition: 0.2s;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  align-items: center;
  border-right: 1px solid white;
  border-left: 1px solid white;
  z-index: 90;
}


.btnNavNextPrevLeft:hover {
  color: var(--clr);
  animation: box 3s infinite;
  background-color: var(--light-blue);
}

.btnNavNextPrevLeft:hover i {
  color: var(--grey); 
}

.btnNavNextPrevLeft::before {
  content: "";
  position: absolute;
  inset: 2px;
  backdrop-filter: grayscale(10px);
}

.btnNavNextPrevLeft span {
  position: relative;
  z-index: 1;
}

.btnNavNextPrevLeft .i-slider {
  position: absolute;
  inset: 0;
  display: block;
}

.btnNavNextPrevLeft .i-slider::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  left: 80%; /* posicion inicial left bajo*/
  top: -2px;
  border: 2px solid var(--clr);
  background: var(--white);
  transition: 0.2s;
}

.btnNavNextPrevLeft:hover .i-slider::before {
  width: 15px;
  left: 30%;/* posicion final left bajo */
  animation: moveRight 3s infinite;
  background: var(--light-blue);

}

.btnNavNextPrevLeft .i-slider::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  left: 80%; ;/* posicion inicial left */
  bottom: -2px;
  border: 2px solid var(--clr);
  background: var(--white);
  transition: 0.2s;
}

.btnNavNextPrevLeft:hover .i-slider::after {
  width: 15px;
  left: 30%;/* posicion final left  bajo*/
  animation: moveRight 3s infinite;
  background: var(--light-blue);

}
.btnNavNextPrevLeft:hover .span-btnNextPrev {
  transition: 1s ease-in-out;
  margin-left: -1800px;
}
.btn-nav-next-prev-box{
  width: 200px;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
  }
  100% {
    box-shadow: #27272c;
  }
}

.btnNavNextPrevLeft i {
  color: var(--white);
  font-size: calc(13px + 0.2vw);
}



.btnNavNextPrevRight {
  position: relative;
  background: var(--light-black);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: calc(10px + 0.2vw);
  padding: 10px 13px;
  transition: 0.2s;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  z-index: 90;

}

.btnNavNextPrevRight:hover {
  color: var(--clr);
  animation: box 3s infinite;
  background-color: var(--light-blue);
}

.btnNavNextPrevRight:hover i {
  color: var(--grey); 
}

.btnNavNextPrevRight::before {
  content: "";
  position: absolute;
  inset: 2px;
  backdrop-filter: grayscale(10px);
}

.btnNavNextPrevRight span {
  position: relative;
  z-index: 1;
}

.btnNavNextPrevRight .i-slider {
  position: absolute;
  inset: 0;
  display: block;
}

.btnNavNextPrevRight .i-slider::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  left: 10%;/* posicion inicial right top */
  top: -2px;
  border: 2px solid var(--clr);
  background: var(--white);
  transition: 0.2s;
}

.btnNavNextPrevRight:hover .i-slider::before {
  width: 15px;
  left: 60%;/* posicion inicial right top */
  animation: moveLeft 3s infinite;
  background: var(--light-blue);

}

.btnNavNextPrevRight .i-slider::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  left: 10%; /* posicion inicial right bot */
  bottom: -2px;
  border: 2px solid var(--clr);
  background: var(--white);
  transition: 0.2s;
}

.btnNavNextPrevRight:hover .i-slider::after {
  width: 15px;
  left: 60%;/* posicion inicial right bot */
  animation: moveLeft 3s infinite;
  background: var(--light-blue);

}

.btnNavNextPrevRight i {
  color: var(--white);
  font-size: calc(13px + 0.2vw);

}
.btnNavNextPrevRight:hover .span-btnNextPrev {
    transition: 1.2s ease-in-out;
    margin-left: 1800px;
}
