body {
  font-family: 'Raleway', sans-serif;
  background-image: radial-gradient(circle at center, #899Dc4, #495D84);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  font-weight: 300;
  color: white;
}

:root {
  --white: #ffffff;
  --black: #21232a;
  --violet: rgb(255, 0, 255);
  --red: #ff0000;
  --blue:rgb(0, 0, 255);
  --yellow: rgb(255, 255, 0);
  --orange: #ffa200;
  --green:rgb(0, 255, 0);
  --pink:#ff0080;

--navbar-blue: rgba(31, 153, 235, 0.7);
--navbar-violet: rgba(176, 31, 235, 0.7);
--navbar-yellow: rgba(235, 215, 31, 0.7);;
--navbar-green: rgba(9, 255, 157, 0.7);
--navbar-orange: rgba(235, 157, 31, 0.7);
--navbar-red: rgba(226, 48, 48, 0.7);


  --nav-violet: rgb(250, 93, 250);
  --nav-red: #ff6e6e;
  --nav-blue:rgb(100, 100, 249);
  --nav-yellow: rgb(255, 255, 66);
  --nav-orange: #feca72;
  --nav-green:rgb(0, 236, 0);
  --nav-pink:#f771b4;
  
  --default-game-box: #dedcff;
  --web-background: #f3f5ff;
  
  --dark-grey: rgb(130, 130, 130);
  --dark-blue: rgb(46, 46, 129);
  --dark-red: rgb(152, 51, 51);
  --dark-orange: rgb(137, 80, 16);
  --dark-violet: rgb(113, 27, 141);
  --dark-green: rgb(29, 114, 39);
  --dark-yellow: rgb(147, 152, 39);
  --dark-pink: #c90165;



  --light-white: rgba(255, 255, 255, 0.461);
  --light-grey: rgba(218, 218, 218, 0.461);
  --light-blue: rgba(31, 153, 235, 0.108);
  --light-red: rgba(226, 48, 48, 0.095);
  --light-orange: rgba(252, 202, 101, 0.452);
  --light-violet: rgba(192, 28, 247, 0.091);
  --light-green: rgba(5, 240, 32, 0.061);
  --light-yellow: rgba(243, 255, 7, 0.115);
  
  
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
button{
  cursor: pointer;
}

