.mySwiper {
  width: 70vw;
  height: 10vw;
  border-radius: 90px 10px 90px 10px;
  margin-bottom: 10vh;
}

.swiper-h {
  width: 70vw;
  height: calc(300px + 20vw);
}

.swiper-v {
  width: 70vw;
  height: 80vh;
  background: transparent;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: linear-gradient(209.94deg, #76767639 1%, #e0e0e078 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 99%;
  height: 99%;
}

/* Estilos para los cards en el slider de tarjetas */
.mySwiperCard {
  max-width: calc(300px + 10vw);
  object-fit: cover;

  
}
.mySwiperCard-big {
  position: absolute;
  height: 64vh;
  width: 95%;
  z-index: 80;
  

}

.mySwiperCard .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
padding: 5px;

}

.mySwiperCard .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.mySwiperCard .swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.mySwiperCard .swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}
.mySwiperCard .swiper-slide:nth-child(4n) {
  background-color: rgb(161, 184, 10);
}
.mySwiperCard .swiper-slide:nth-child(5n) {
  background-color: rgb(170, 10, 184);
}
.mySwiperCard .swiper-slide:nth-child(6n) {
  background-color: rgb(184, 10, 62);
}
.mySwiperCard .swiper-slide:nth-child(7n) {
  background-color: rgb(160, 155, 77);
}

/* Añade más colores si es necesario */
.btn-copy-slider{
  position: absolute;
  right: 20px;
  top: 40px;
}