.day-night-btn {
  width: 100px;  /* 500px / 5 */
  height: 40px;  /* 200px / 5 */
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 40px;  /* 200px / 5 */
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4), inset 0px -1px 3px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.day-night-btn:after {
  content: "";
  width: 36px;  /* 180px / 5 */
  height: 36px;  /* 180px / 5 */
  position: absolute;
  top: 2px;  /* 10px / 5 */
  left: 2px;  /* 10px / 5 */
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 36px;  /* 180px / 5 */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.day-night-btn svg {
  position: absolute;
  width: 24px;  /* 120px / 5 */
  top: 8px;  /* 40px / 5 */
  z-index: 100;
}

.day-night-btn svg.sun {
  left: 8px;  /* 40px / 5 */
  fill: #fff;
  transition: 0.3s;
}

.day-night-btn svg.moon {
  left: 68px;  /* 340px / 5 */
  fill: #7e7e7e;
  transition: 0.3s;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + .day-night-btn {
  background: #242424;
}

input:checked + .day-night-btn:after {
  left: 98px;  /* 490px / 5 */
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

input:checked + .day-night-btn svg.sun {
  fill: #7e7e7e;
}

input:checked + .day-night-btn svg.moon {
  fill: #fff;
}

input:checked + .day-night-btn + .background {
  background: #242424;
}

input:active:after {
  width: 52px;  /* 260px / 5 */
}

  